@tailwind base;
@tailwind components;
@tailwind utilities;

.radix-theme {
  --default-font-family: 'Roboto', sans-serif;
}

/* Box sizing rules */
* {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background: white;
  background-image: url('../public/art/waves-background.svg');
  background-repeat: no-repeat;
  background-position: -45vw 4vw;
  background-size: 200vw 100%;
  font-family: "Roboto", sans-serif !important;
}

@media screen and (max-width: 640px) {
  html, body, #root {
    background-repeat: no-repeat;
    background-size: 120vw;
    background-attachment: fixed;
    background-position: -20vw;
  }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}


/** scrollbar */
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
  }
}

::selection {
  background-color: #ff9eb1 !important;
  color: #f9f9f9;
}

.glass-card {
  background: linear-gradient(
      to right bottom,
      rgba(246, 246, 246, 0.2),
      rgba(246, 246, 246, 0.1)
  ), url('/common/noise.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation;
  backdrop-filter: blur(1.25rem);
}